aiohttp==3.6.2
aioice==0.6.18
aiortc==0.9.28
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==19.3.0
av==8.0.1
cffi==1.14.0
chardet==3.0.4
crc32c==2.0
cryptography==3.2
idna==2.9
multidict==4.7.5
netifaces==0.10.9
pycparser==2.20
pyee==7.0.1
pylibsrtp==0.6.6
pyOpenSSL==19.1.0
python-engineio==3.12.1
python-socketio==4.5.1
six==1.14.0
websockets==8.1
yarl==1.4.2
